<div class="mobile-carousel__pagination">
  <button class="mobile-carousel__pagination-arrow mobile-carousel__pagination-arrow--prev" data-prev role="button" title="{{ 'general.accessibility.previous' | t}}" tabindex="0">
    {% render 'slider-button' with icon: 'arrow_back' %}
  </button>
  <button class="mobile-carousel__pagination-arrow mobile-carousel__pagination-arrow--next" data-next role="button" title="{{ 'general.accessibility.next' | t}}" tabindex="0">
    {% render 'slider-button' %}
  </button>
</div>